:root {
  --primary: #00587D;
  --secondary: #007db3;
  --tertiary: #BFECFF;
}


.main-container {
  display: grid;
  border: 2px solid red;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 4fr 4fr;
}

.header-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  grid-column: 1 / 3;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.bottom-nav-container {
  display: flex;
  position: absolute;
  bottom: 0;
}

.bottom-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  width: 200px;
  height: 35px;
  position: relative;
  bottom: 0;
  border-radius: 200px 0px 0px 0px;
  box-shadow: #00587D -7px -1px 0px 2px;
  margin: 0px 20px 0px 0px;
  /* background-color: lightgray; */
  background-color: hsl(0, 100%, 99%);
}


.calendar-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 5px;
  padding-top: 25px;
  margin-top: 10px;
  background-color: hsl(0, 100%, 99%);
  border: 2px solid #007DB3;
  border-radius: 15px;
  box-shadow: #00587D 5px 5px;
}

.calendar-modal.hidden {
  display: none;
}

#close-calendar {
  position: absolute;
  top: 0px;
  left: 15px;
}

.expenses-container {
  margin:  50px 80px;
  /* border: 3px solid green; */
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.graphs-container {
  /* border: 3px solid hsl(304, 94%, 53%); */
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  min-width: 70%;
  /* min-height: auto; */
  margin: auto;
}

.main-title {
  color: black;
  margin: 30px;
}

.form-container {
  display: flex;
  align-items: self-end;
}

.date-form {
  display: flex;
  margin-bottom: 50px;
  margin-left: -600px;
}

.date-form label {
  opacity: .4;
  margin: 0px 50px;
  padding: 10px;
}

.date-form select {
  margin: 5px 20px;
  padding: 7.5px 20px;
  border-radius: 20px;
  box-shadow: gray 2px 3px; 
}

.add-expense-container {
  display: flex;
  align-items: center;
}

.add-expense-btn {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 48px;
  color: white;
  background-color: #00587D;
  border: none;
  align-items: center;
}

.add-expense-container h3 {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.modal-container {
  display: flex;
  position: absolute;
  margin: 15vh 25vw;
}

.modal {
  display: flex;
  background-color: hsl(0, 100%, 99%);
  border: 2px solid #007DB3;
  min-width: 40vw;
  min-height: 70vh;
  justify-content: center;
  border-radius: 15px;
  box-shadow: #00587D 10px 10px;
}

.modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal h2 {
  margin-bottom: 40px;
}

.modal form select,
.modal form input,
.modal form button {
  margin: 10px 0px;
  padding: 10px 20px;
}

.modal label {
  opacity: .4;
}

.modal form button {
  box-shadow: #00587D 2px 3px;
  background-color: #007DB3;
  color: white; 
  font-weight: 600;
}


.expense-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  border-bottom: 1px solid red;
  padding: 5px;
  padding-top: 20px;
}

#amount {
  grid-column: 1 / 2;
}

#category {
  grid-column: 2 / 3;
}

#date {
  display: flex;
  grid-column: 3 / 4;
}

#date:hover .removeIcon{
  display: block;
}


.amount-input-field::before {
  content: '$';
  position: absolute;
}

.removeIcon {
  display: none;
  width: 20px;
  height: 20px;
  grid-column: 3 / 4
}

.removeIcon:hover {
  display: block;
}